table{
    color: #fff;
    text-align: center;
    font: 3em Arial, Helvetica, sans-serif;
    border-radius: 20px 20px 40px 40px;
}

tr{
    height: 16.02vh;
    background-color: #4e494d;
}

td{
    width: 25vw;
    border: 4px solid #4e494d;
    border-radius: 20px;
}

#inputBox{
    background-color: #4e494d;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border-radius: 20px;
}
.digitButton{
    background-color: #807e80;
    border-radius: 20px 40px;
}

.operatorButton{
    background-color: #ff9e06;
    border-radius: 40px 20px;
}

.ACButton{
    background-color: #656165;
    border-radius: 20px;
}

.equalsButton{
    background-color: #ff9e06;
    border-radius: 20px 20px 40px 40px;
}